# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/shelf
.idea/*.xml

# Do not ignore code style settings.
!/.idea/codeStyleSettings.xml

# Gradle interim configs
.gradle/

# Maven deployment build directory
/core-java/target

# Generated source code
*/generated/*

# Gradle build files
build/*
*/build/*

# Class files produced by the IDE
classes/*

# Login details to Maven repository.
# Each workstation should have developer's login defined in this file.
credentials.properties

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
