# IntelliJ IDEA modules and interim config files.
*.iml
.idea/artifacts/**
**/.idea/libraries
**/.idea/shelf
**/.idea/*.xml

# Do not ignore the following IDEA settings
!.idea/misc.xml
!.idea/codeStyleSettings.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml

# Gradle interim configs
**/.gradle/**

# Generated source code
**/generated/**
**/*.pb.dart
**/*.pbenum.dart
**/*.pbserver.dart
**/*.pbjson.dart

# Gradle build files
**/build/**
!**/src/**/build/

# Build files produced by the IDE
**/out/**

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Spine internal directory for storing intermediate artifacts
**/.spine/**

# Prevent accidental adding of credential files
credentials.tar
credentials.properties
cloudrepo.properties
deploy_key_rsa
gcs-auth-key.json

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
